/* Obecné */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

/* Container */
.containerSlider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Levá část s barvami a texty */
.slideLeft {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s linear;
}
.slideLeft > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.slideLeft h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -30px;
}
.color1 {
    background-color: #45A8bc;
}
.color2 {
    background-color: #2A86BA;
}
.color3 {
    background-color: #252E33;
}
.color4 {
    background-color: #FFB866;
}

/* Pravá část s obrázky */
.slideRight {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 30%;
    transition: transform 0.5s linear;
}
.slideRight > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.image1 {
    background-image: url(img/obr1.jpg);
}
.image2 {
    background-image: url(img/obr2.jpg);
}
.image3 {
    background-image: url(img/obr3.jpg);
}
.image4 {
    background-image: url(img/obr4.jpg);
}

/* Ikonky šipek */
.arrowButtons .arrow{
    position: absolute;
    z-index: 100;
    left: 30%;
    top: 50%;
}
.arrow img {
    width: 50px;
}
.arrowDown img {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.arrowDown img:hover {
    border: 1px solid black;
}
.arrowUp img {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.arrowUp img:hover {
    border: 1px solid black;
}
